@import 'colors';
@import 'fonts';
form {
    margin: 1rem auto;
    input,
    select {
        display: block;
        border-radius: 0.25rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0.5rem 0;
        border: 1px solid $g2;
        font-family: $bodyFont;
        font-size: 1rem;
        padding: 0.25rem;
        &::placeholder {
            color: $g4;
        }
    }
    label {
        font-size: 0.9rem;
        color: $g6;
    }
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0;
        input,
        select {
            margin: 0;
        }
        font-size: 1rem;
        > *:first-child {
            margin-right: 0.5rem;
        }
    }
}

button {
    border: none;
    background: white;
    border-radius: 0.25em;
    background: $blue;
    color: $white;
    font-family: $headerFont;
    font-weight: 400;
    font-size: 1.25em;
    padding: 0.5em;
    margin: 0.25em auto;
    display: block;
    cursor: pointer;
    &:hover {
        background: $blue-hl;
    }
    &.big {
        font-size: 2em;
        align-self: center;
        padding: 0.75em;
    }
    &.biggest {
        font-size: 3em;
        align-self: center;
        padding: 0.75em;
    }
    &:disabled {
        background: $g3;
        cursor: not-allowed;
        &:hover {
            background: $g3;
        }
    }
}

input[type='checkbox'] {
    &.turn {
        font-size: 2rem;
    }
}
