$white: #fff;
$g1: darken($white, 4%);
$g2: darken($g1, 10%);
$g3: darken($g2, 10%);
$g4: darken($g3, 10%);
$g5: darken($g4, 10%);
$g6: darken($g5, 10%);

$blue: #2996df;
$blue-hl: saturate(lighten($blue, 10%), 10%);

$headerFont: 'Staatliches', serif;
$bodyFont: 'Sarabun', sans-serif;

body {
    margin: auto;
    font-family: $bodyFont;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
    font-weight: 400;
    color: $g6;
    font-family: $headerFont;
    @extend %h !optional;
}

header {
    background: $g1;
    h1 {
        margin: .25em 0;
    }
}

.app {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    background: white;
    border-radius: .25rem;
    background: $blue;
    color: $white;
    font-family: $headerFont;
    font-weight: 400;
    padding: .75em;
    margin: 2em auto;
    cursor: pointer;
    &:hover {
        background: $blue-hl;
    }
    &.big {
        font-size: 3em;
        align-self: center;
    }
}