@import 'colors';
@import 'fonts';
@import 'forms';

body {
    margin: auto;
    font-family: $bodyFont;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em 0;
    font-weight: 400;
    color: $g6;
    font-family: $headerFont;
    @extend %h !optional;
    text-align: center;
}

label {
    font-family: $headerFont;
    color: $g5;
    margin-right: .5rem;
    white-space: nowrap;
}

section {
    margin: 0.5rem 1rem;
}

header {
    background: $g1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    h1 {
        margin: .25em 0;
    }
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}