@import 'colors';
@import 'fonts';
@import 'forms';

#conditions {
    text-align: center;
    width: 85%;
    margin: 1rem auto;
    div {
        margin-right: 1rem;
        display: inline-block;
        label {
            font-family: $bodyFont;
            color: $g3;
        }
        input:checked + label {
            color: $black;
        }
    }
}