@import 'colors';
@import 'fonts';
.menus {
    display: flex;
    justify-content: center;
    > div {
        display: flex;
        flex-direction: column;
        div {
            height: 100%;
            overflow-y: scroll;
        }
        > h2 {
            white-space: nowrap;
            background: $g1;
            margin: 0 1px;
            padding: 0.25em;
        }
        &.disabled {
            opacity: 0.4;
            > h2 {
                background: $g4;
                color: $white;
            }
        }
        &.active {
            > h2 {
                background: $blue;
                color: #fff;
            }
        }
    }
}

#action {
    > div {
        display: flex;
        justify-content: center;
        > div {
            flex-grow: 1;
            box-sizing: border-box;
        }
    }
}

#movement {
    input {
        font-size: 2rem;
        text-align: center;
        font-family: $bodyFont;
        padding: 0;
        margin: auto;
        border-width: 0 0 1px 0;
        box-shadow: none;
        width: 50%;
        display: block;
    }
}
