@import 'colors';

.menus {
    display: flex;
    height: 100%;
    justify-content: center;
    > div {
        flex-grow: 1;
        &.active {
            > h2 {
                background: $blue;
                margin: 0;
                padding: .25em 0;
                color: #fff;
            }
        }
    }
}
#action {
    display: flex;
    height: 100%;
    justify-content: center;
    > div {
        flex-grow: 1;
    }
}